html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(2%)
        saturate(2%) hue-rotate(265deg) brightness(105%) contrast(101%);

    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-atc-group-bg-color: #292e39;
    --top-atc-group-shadow: rgba(0, 0, 0, 0.2);
    --top-atc-group-separate: #ededf6;
}
