/* PC */
@media (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }

    .toggle-menu {
        display: none;
    }
}

/* Mobile vs Tablet */
@media (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s linear;
        transition-property: opacity, visibility;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        z-index: 2;
        padding: 60px;
        background: #fff;
        transform: translateX(-100%);
        transition: 0.4s linear;
        transition-property: transform;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer a {
        display: block;
        padding: 14px;
        color: #333;
        font-weight: 500;
    }

    .separate {
        border-top: 1px solid #ddd;
    }

    .hero-img {
        display: none;
    }

    .hero-wrap .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .hero-wrap .desc {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }
    .guide-item {
        margin: 0;
        flex: 1;
    }
    .featured .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .img-block {
        margin-top: 80px;
        order: 2;
    }

    .stats .info {
        order: 1;
        padding: 0;
    }

    .stats .sub-title {
        width: 69%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 5rem;
    }

    .stats .qty-desc {
        font-size: 1.5rem;
    }

    .subscribe .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .actions {
        display: none;
    }

    .hero-wrap {
        height: calc(100vh - 80px);
    }

    .hero-wrap .title {
        font-size: 5rem;
    }

    .hero-wrap .desc {
        width: 100%;
    }

    .clients .desc {
        font-size: 1.5rem;
    }

    .clients .images {
        row-gap: 20px;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 60px;
    }

    .guide-cta {
        margin-top: 60px;
    }

    .featured .link {
        display: none;
    }

    .featured .desc {
        font-size: 1.5rem;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stats .sub-title {
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats .stats-trend {
        top: 20px;
        left: 20px;
        border-radius: 12px;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .subscribe .body {
        height: auto;
    }

    .subscribe .info {
        padding: 32px;
    }

    .footer .row-top {
        grid-template-columns: 1fr;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: start;
        row-gap: 24px;
    }
}

/* Mobile Low */
@media (max-width: 575.98px) {
    .hero-wrap .title {
        font-size: 4.7rem;
    }

    .featured .sub-title {
        font-size: 3.2rem;
    }

    .featured .desc {
        font-size: 1.3rem;
    }

    .content {
        max-width: calc(100% - 26px);
    }
}
