* {
    box-sizing: border-box;
}

:root {
    --primary-color: #152427;
    --text-color: #7d8188;
    --width-app: 1140px;

    --primary-font: "Poppins", sans-serif;
    --sub-font: "Public Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

/* Common */
a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.width-heading {
    width: 281px;
}

.container {
    width: var(--width-app);
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    --height: 57px;

    display: inline-block;
    min-width: 173px;
    line-height: var(--height);
    border: 1.5px solid #143c3c;
    border-radius: 40px;
    color: #fff;
    background: #143c3c;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
}

.section-title {
    position: relative;
    padding: 0 42px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13;
}

.section-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color);
}

.section-heading {
    position: relative;
    color: var(--primary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.section-heading::after {
    content: "";
    position: absolute;
    right: 103px;
    bottom: 19px;
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color);
}

/* Header */
.header {
    font-family: var(--sub-font);
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -20px;
    z-index: 9999;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 28px 2px 13px;
}

.header__inner::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
}

.nav__link {
    position: relative;
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.56;
}

.nav__item:hover .nav__link::after {
    position: absolute;
    left: 17px;
    bottom: -24px;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: #143c3c;
}

.nav__item:hover .nav__link {
    color: var(--primary-color);
}

.action {
    margin-left: 71px;
}

/* Hero */
.hero {
    padding: 60px 0 60px 0;
    background: #fff;
    font-family: var(--sub-font);
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    flex-grow: 1;
}

.hero__title {
    max-width: 368px;
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    max-width: 341px;
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.56;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    column-gap: 36px;
}

.hero__watch {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border: none;
    background: transparent;
}

.hero__watch-wrap {
    display: flex;
    align-items: center;
}

.hero__watch-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-left: -22px;
    border-radius: 50%;
    background: #83a17d;
}

.hero__watch-text {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    white-space: nowrap;
}

.hero__media {
    width: 57%;
    margin-right: 40px;
}

.hero__media-wrap {
    position: relative;
}

.hero__media-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 0;
}

.hero__images {
    position: relative;
    z-index: 2;
    display: flex;
    column-gap: 20px;
}

.hero__images-curve-left,
.hero__images-abstract-left,
.hero__images-curve-right,
.hero__images-abstract-right {
    position: absolute;
}

.hero__images-abstract-left {
    left: -212px;
}

.hero__images-curve-left {
    left: -166px;
    top: -1px;
}

.hero__images-abstract-right {
    right: 0;
    bottom: -35px;
}

.hero__images-curve-right {
    left: 36px;
    bottom: -57px;
}

.hero__images-img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__images-img:nth-of-type(2) {
    margin-top: 77px;
}

/* Brand */
.brand {
    margin-top: 70px;
}

.brand__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 201px;
    padding: 0 121px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.brand__logo-wrap {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.brand__logo-text {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

/* Service */
.service {
    margin-top: 46px;
    padding: 60px 0;
}

.service__inner {
    position: relative;
}

.service__heading {
    max-width: 520px;
    margin-top: 12px;
}

.arrows {
    position: absolute;
    top: 55px;
    right: 73px;
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.arrow__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
    background: #e2eddf;
    cursor: pointer;
    transition: 0.2s;
}

.arrow__bg:hover {
    color: #fff;
    background: #143c3c;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    border-radius: 20px;
    background: #fff;
    transition: 0.2s;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__body {
    padding: 24px 18px;
}

.service-item-img {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__body {
    padding: 24px 0;
    transition: 0.2s;
}

.service-item__title {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.71;
}

/* About */
.about {
    margin-top: 29px;
    padding: 60px 0;
}

.about__inner {
    display: flex;
    column-gap: 55px;
}

.about__images {
    position: relative;
    display: flex;
    column-gap: 21px;
    padding-right: 9px;
}

.about__images-abstract-left,
.about__images-curve-left {
    position: absolute;
}

.about__images-abstract-left {
    left: 46px;
    top: -31px;
}

.about__images-curve-left {
    left: 88px;
    top: 19px;
}

.about__images-img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__images-img:first-of-type {
    margin-top: 77px;
}

.about__design {
    position: absolute;
    top: 405px;
    right: 0;
    padding: 19px 23px 11px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    font-family: var(--sub-font);
}

.about__design-title {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about__design-desc {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.4;
}

.about__design-qty {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__design-line {
    position: relative;
    display: block;
    margin: 3px 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about__design-line::after {
    content: "";
    position: absolute;
    display: block;
    width: 40%;
    height: 2px;
    background: #83a17d;
}

.about__design-loading {
    display: block;
    margin-bottom: 3px;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: right;
}

.about__design-dot-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about__design-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.about__design-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.about__design-team {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 1.4;
}

.about__design-avatars {
    display: flex;
}

.about__design-avatar {
    width: 16px;
    height: 16px;
    margin-right: -5px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.about__content {
    width: 43%;
    flex-shrink: 0;
}

.about__heading {
    margin-top: 20px;
}

.about__heading::after {
    display: none;
}

.about__desc {
    margin-top: 11px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.63;
}

.about__data {
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.about__strong {
    color: var(--primary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about__data-desc {
    max-width: 364px;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.72;
}

.process {
    margin-top: 19px;
    padding: 36px 0;
}

.process__heading {
    width: 477px;
    margin-top: 20px;
}

.process__heading::after {
    right: 0;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 32px 92px 21px 32px;
    border-radius: 33px;
    background: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.process-item:first-of-type {
    padding-top: 0;
    padding-bottom: 0;
}

.process-item + .process-item {
    margin-top: 12px;
}

.process-item::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 95%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item:hover::after {
    opacity: 0;
    visibility: hidden;
}

.process-item:hover {
    background: #e2eddf;
}

.process-item:hover .process-item__more {
    display: block;
}

.process-item__qty {
    margin-right: 64px;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

.process-item__middle {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.process-item__title {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__more {
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
}

.process-item__more:hover {
    text-decoration: underline;
}

.process-item__img {
    width: 450px;
    height: 444px;
    object-fit: cover;
    margin: -259px 0 0 auto;
}

.process-item__desc {
    max-width: 572px;
    margin-left: auto;
    color: var(--text-color);
    font-family: var(--sub-font);
    font-size: 1.8rem;
    line-height: 1.56;
}

/* Glance */
.glance {
    margin-top: 112px;
    padding: 116px 0 63px;
    background: #143c3c;
}

.glance__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 93px;
}

.glance__heading {
    max-width: 457px;
    flex-shrink: 0;
    color: #fff;
}

.glance__heading::after {
    right: 97px;
    background: #83a17d;
}

.glance__top-desc {
    max-width: 570px;
    color: #6a8383;
    font-family: var(--sub-font);
    font-size: 1.8rem;
    line-height: 1.56;
}

.glance__top-more {
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-top: 13px;
}

.glance__top-link {
    color: #fff;
    font-family: var(--sub-font);
    font-size: 1.8rem;
    line-height: 1.56;
}

.glance__media {
    position: relative;
    margin-top: 65px;
}

.glance__media-curve,
.glance__media-abstract {
    position: absolute;
}

.glance__media-curve {
    top: -168px;
    right: -60px;
}

.glance__media-abstract {
    top: -80px;
    right: -45px;
}

.glance__media-img {
    max-width: 100%;
    min-height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.glance__media-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 118px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: #000000b2;
    opacity: 0.7;
    z-index: 1;
    cursor: pointer;
}

.glance__media-btn:hover {
    opacity: 1;
}

/* Feature */
.feature {
    margin-top: 80px;
    padding: 60px 0;
}

.feature__top {
    text-align: center;
}

.feature__heading {
    max-width: 520px;
    margin: 0 auto;
    color: var(--primary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.feature__desc {
    max-width: 547px;
    margin: 20px auto 103px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.63;
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    max-width: 350px;
    min-height: 362px;
    padding: 43px 27px 74px 37px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    background: #fff;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

.feature-item:hover {
    transform: translateY(-59px);
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__title {
    display: block;
    margin-top: 26px;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature-item__desc {
    max-width: 264px;
    margin-top: 9px;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.71;
}

.feature-item__desc--large {
    max-width: 286px;
}

/* Blog */
.blog {
    margin: 64px 0 42px;
    padding: 60px 0;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__top-heading {
    max-width: 520px;
}

.blog__top-heading::after {
    width: 82px;
    right: -51px;
}

.blog__top-desc {
    max-width: 409px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.63;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item {
    border-radius: 40px 40px 20px 20px;
    background: #fff;
    transition: 0.2s;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__btn {
    color: #e2eddf;
    background: #143c3c;
}

.blog-item:hover .blog-item__body {
    padding-left: 30px;
}

.blog-item-img {
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.blog-item__body {
    padding: 26px 14px 12px 0;
    border-radius: 0px 0px 20px 20px;
    transition: 0.2s;
}

.blog-item__btn {
    --height: 26px;

    min-width: 107px;
    border-color: transparent;
    border-radius: 20px;
    background: #e2eddf;
    color: #000;
    font-size: 1rem;
    transition: 0.2s;
}

.blog-item__body-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-item__body-title {
    display: block;
    height: 90px;
    margin-top: 13px;
    color: #143c3c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__body-line {
    margin-top: 9px;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
}

.blog-item__body-date {
    margin-top: 16px;
    text-align: right;
    color: #575d5e;
    font-size: 1rem;
    line-height: 1.2;
}

.footer {
    padding: 72px 0 50px 0;
    background: #143c3c;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
}

.footer__form {
    position: relative;
    margin-top: 25px;
}

.footer__form-input {
    width: 354px;
    height: 59px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-color);
    color: #fff;
    background: transparent;
    font-size: 2.2rem;
}

.footer__form-input::placeholder {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.footer__form-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 315px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.footer_social {
    display: flex;
    align-items: center;
    column-gap: 22px;
    margin-top: 47px;
}

.footer__social-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.footer__social-bg:hover {
    background: #a75325;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.footer__info-heading {
    margin-bottom: 16px;
    color: #fff;
    font-family: var(--sub-font);
    font-size: 1.8rem;
    line-height: 1.56;
}

.footer__info-link {
    display: block;
    padding: 5px 0;
    color: var(--text-color);
    font-family: var(--sub-font);
    font-size: 1.6rem;
    line-height: 2.25;
}

.footer__info-link:hover {
    text-decoration: underline;
}

.footer__line {
    margin-top: 45px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
.footer__copyright {
    margin-top: 20px;
    color: var(--text-color);
    text-align: center;
}
