/* PC */
@media (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}

/* Mobile vs Tablet */
@media (max-width: 991.98px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        min-height: unset;
    }

    .hero {
        flex-direction: column;
    }

    .hero__content {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__row {
        justify-content: center;
        margin-bottom: 40px;
    }

    .service__row {
        justify-content: center;
    }

    .service-item {
        width: unset;
        margin-top: 30px;
    }

    .service-item:first-child {
        margin-top: 0;
    }

    .service__img {
        display: none;
    }

    .service .btn {
        display: block;
    }

    .feature__inner {
        flex-direction: column-reverse;
    }

    .feature__media {
        width: unset;
        margin-top: 30px;
    }

    .install__img {
        display: none;
    }

    .install__content {
        width: unset;
    }

    .install__row {
        margin-bottom: 20px;
    }

    .news__inner {
        flex-direction: column;
    }

    .news__list {
        margin-top: 40px;
    }

    .news__heading {
        max-width: 100%;
    }

    .footer__row {
        grid-template-columns: 1fr 1fr;
    }

    .footer__copyright {
        margin-top: 20px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hide-on-tablet {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }

    .member__list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    .work__list {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

/* Mobile */
@media (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .work__list {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .member__list {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .header-top {
        position: relative;
    }

    .header .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-menu {
        width: 24px;
        color: #fff;
    }

    .overlay {
        position: fixed;
        inset: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s linear;
        transition-property: opacity, visibility;
    }

    .menu-checkbox:checked ~ .overlay {
        opacity: 1;
        visibility: visible;
    }

    .drawer-menu {
        position: fixed;
        inset: 0 40% 0 0;
        z-index: 2;
        background: #fff;
        transform: translateX(-100%);
        transition: transform 0.3s linear;
    }

    .menu-checkbox:checked ~ .drawer-menu {
        transform: translateX(0);
    }

    .drawer-menu .logo {
        top: unset;
        left: unset;
        transform: unset;
        padding: 40px;
    }

    .drawer-menu .logo__brand {
        color: #000;
    }

    .drawer-menu .logo__circle {
        position: relative;
    }

    .mobile-nav {
        margin-top: 80px;
        padding: 20px;
    }

    .mobile-nav .navbar__link {
        display: block;
        padding: 14px;
        color: #000;
    }

    .separate {
        border-bottom: 1px solid #ccc;
    }
}

/* Mobile Low */
@media (max-width: 575.98px) {
    .drawer-menu {
        inset: 0 25% 0 0;
    }

    .header {
        min-height: unset;
    }

    .hero__heading {
        font-size: 5rem;
    }

    .hero__row {
        flex-direction: column;
        gap: 20px;
    }

    .hero__phone {
        margin-left: 0;
    }

    .hero__media {
        display: none;
    }

    .service__row {
        justify-content: unset;
    }

    .service .btn {
        display: block;
    }

    .work__desc {
        width: 100%;
    }

    .work-item__heading {
        font-size: 2rem;
    }

    .work-item__more,
    .work-item__desc {
        font-size: 1.5rem;
    }

    .feature__content {
        text-align: center;
    }

    .feature__media {
        display: none;
    }

    .member__list {
        grid-template-columns: 1fr;
    }

    .install__inner {
        padding: 12px;
    }

    .section-heading {
        font-size: 2.4rem;
    }

    .section-desc {
        font-size: 1.5rem;
    }

    .news__list {
        display: unset;
    }

    .news-item {
        margin-bottom: 30px;
    }

    .news-item:last-child {
        margin-bottom: 0;
    }

    .appointment__inner {
        padding: 40px;
    }

    .footer__row {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
